<div class="trip-list">
    <div *ngIf="allTrips.length == 0" class="message">
        Nu am gasit nicio solicitare pentru calătorii asociate contului dumneavoastră
    </div>
    <div *ngFor ="let trip of allTrips" class="trip" (click)="toggleTrip(trip)" [ngClass] = "{ 'selected-trip': trip.selected }">
        <p-fieldset legend="{{ allTrips.indexOf(trip) + 1 }}">
            <div class="trip-properties">
                <div class="trip-property">
                    <label>Locația de start: </label>
                    <div> {{ trip.startingLocation?.name }}</div>
                </div>   
                <div class="trip-property"> 
                    <label>Locația de încheiere: </label>
                    <div>{{ trip.finishingLocation?.name }}</div>
                </div>
                <div class="trip-property">
                    <label>Timpul de start al călătoriei: </label>
                    <div>{{ trip.startingTime }}</div>
                </div>
                <div class="trip-property">
                    <label>Timpul de final al călătoriei: </label>
                    <div>{{ trip.finishingTime }}</div>
                </div>
                <div class="trip-property">
                    <label>Număr de persoane: </label>
                    <div>{{ trip.persons }}</div>
                </div>
                <div class="trip-property">
                    <label>Status:  </label>
                    <div [ngClass] = "{
                        'rejected-status': trip.status === 'Rejected',
                        'waiting-status': trip.status === 'Waiting',
                        'accepted-status': trip.status === 'Accepted'
                    }">{{trip.status }}  </div>
                </div>
            </div>
        </p-fieldset>
    </div>
    <div class="buttons" *ngIf="selected">
        <div class="message" *ngIf="failed">A apărut o eroare la anularea cererii</div>
        <p-button (click)="cancelTrip()">
            Anulează cererea selectată
        </p-button>
    </div>
</div>