<div class="trip-list">
    <div *ngFor ="let trip of allTrips" class="trip">
        <p-fieldset legend="{{ allTrips.indexOf(trip) + 1 }}" (click)="toggleTrip(trip)" [ngClass] = "{ 'selected-trip': trip.status === 'Rejected'}">
            <div class="trip-properties">
                <div class="trip-property">
                    <label>Staring location: </label>
                    <div> {{ trip.startingLocation?.name }}</div>
                </div>   
                <div class="trip-property"> 
                    <label>Finishing location: </label>
                    <div>{{ trip.finishingLocation?.name }}</div>
                </div>
                <div class="trip-property">
                    <label>Starting time: </label>
                    <div>{{ trip.startingTime }}</div>
                </div>
                <div class="trip-property">
                    <label>Finishing time: </label>
                    <div>{{ trip.finishingTime }}</div>
                </div>
                <div class="trip-property">
                    <label>Persons: </label>
                    <div>{{ trip.persons }}</div>
                </div>
                <div class="trip-property">
                    <label>Status:  </label>
                    <div [ngClass] = "{
                        'rejected-status': trip.status === 'Rejected',
                        'waiting-status': trip.status === 'Waiting',
                        'accepted-status': trip.status === 'Accepted'
                    }">{{trip.status }}  </div>
                </div>
            </div>
        </p-fieldset>
    </div>
    <div class="buttons">
        <p-button (click)="rejectSelectedTrips()" [disabled]="rejecting">
            Respinge cursele selectate
        </p-button>
        <p-button (click)="deselectTrips()">
            Deselecteaza toate cursele
        </p-button>
    </div>
</div>