<div class="card">
    <h4 class="card-header">Înregistrare</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="p-float-label">
                <input type="text" pInputText formControlName="firstName" class="form-control" />
                <label class="form-label">Prenume</label>
                <div *ngIf="submitted && fdata['firstName'].errors" class="invalid-feedback">
                    <div *ngIf="fdata['firstName'].errors['required']">Vă rugăm introduceți un prenume</div>
                </div>
            </div>
            <div class="p-float-label">
                <input type="text" pInputText formControlName="lastName" class="form-control" />
                <label class="form-label">Nume</label>
                <div *ngIf="submitted && fdata['lastName'].errors" class="invalid-feedback">
                    <div *ngIf="fdata['lastName'].errors['required']">Vă rugăm introduceți un nume</div>
                </div>
            </div>
            <div class="p-float-label">
                <input type="text" pInputText formControlName="email" class="form-control" />
                <label class="form-label">Adresă E-mail</label>
                <div *ngIf="submitted && fdata['email'].errors" class="invalid-feedback">
                    <div *ngIf="fdata['email'].errors['required']">Vă rugăm introduceți adresa de E-mail</div>
                </div>
            </div>
            <div class="p-float-label">
                <input type="text" pKeyFilter="int" maxlength="10" pInputText formControlName="phone" />
                <label class="form-label">Telefon</label>
                <div *ngIf="submitted && fdata['phone'].errors" class="invalid-feedback">
                    <div *ngIf="fdata['phone'].errors['required']">Vă rugăm introduceți un număr de telefon</div>
                    <div *ngIf="fdata['phone'].errors['minlength']">Număr de telefon invalid</div>
                </div>
            </div>
            <div class="p-float-label">
                <p-password formControlName="password" styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}"
                [inputStyle]="{'width':'100%'}" [toggleMask]="true" [feedback]="false" />
                <label class="form-label">Parolă</label>
                <div *ngIf="submitted && fdata['password'].errors" class="invalid-feedback">
                    <div *ngIf="fdata['password'].errors['required']">Vă rugăm introduceți o parolă</div>
                    <div *ngIf="fdata['password'].errors['minlength']">Parola trebuie să conțină cel puțin 6 caractere</div>
                </div>
            </div>
            <div *ngIf="(submitted && emailAlreadyInUse)" class="invalid-feedback">Adresa de E-mail este deja folosită</div>
            <div class="buttons">
                <p-button (click)="onSubmit()" [disabled]="loading">
                    Înregistrare
                </p-button>
                <p-button (click)="goToLogin()">
                    Înapoi la Login
                </p-button>
            </div>
        </form>
    </div>
</div>