.navbar {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(9, 9, 119) 12%, rgba(0, 212, 255, 1) 100%);
    padding: 10px;
    position: sticky;
    border-radius: 5px;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
}

.logout-container {
    display: flex;
    align-items: center;
}

.logout-button {
    margin-left: 10px;
}