<div class="location-list">
    <div *ngFor ="let location of allLocations" class="location">
        <p-fieldset legend="{{ allLocations.indexOf(location) + 1 }}" (click)="toggleLocation(location)" [ngClass] = "{ 'selected-location': location.selected }">
            <div class="location-properties">
                <div class="location-property">
                    <label>Numele locației: </label>
                    <div> {{ location.name }}</div>
                </div>   
                <div class="location-property"> 
                    <label>Tipul locației: </label>
                    <div>{{ location.type }}</div>
                </div>
                <div *ngIf="location.type === 'Depot' " class="location-property">
                    <label>ID-urile vehiculelor din depou: </label>
                    <div *ngFor="let vehicle of location?.vehicles"> {{vehicle.id}} </div>
                </div>
            </div>
        </p-fieldset>
    </div>
    <div class="buttons">
        <div class="message" *ngIf="failed">Ștergerea locației selectate duce la deconectarea grafului</div>
        <div class="button-group">
            <p-button (click)="deleteSelectedLocation()" [disabled]="deleting">
                Șterge locația selectată
            </p-button>
            <p-button (click)="addLocation()">
                Adaugă o nouă locație
            </p-button>
        </div>
    </div>
</div>