<div class="location-list">
    <div *ngFor ="let location of allLocations" class="location">
        <p-fieldset legend="{{ allLocations.indexOf(location) + 1 }}" (click)="toggleLocation(location)" [ngClass] = "{ 'selected-location': location.selected }">
            <div class="location-properties">
                <div class="location-property">
                    <label>Location Name: </label>
                    <div> {{ location.name }}</div>
                </div>   
                <div class="location-property"> 
                    <label>Location Type: </label>
                    <div>{{ location.type }}</div>
                </div>
                <div *ngIf="location.type === 'Depot' " class="location-property">
                    <label>Vehicles ID: </label>
                    <div *ngFor="let vehicle of location?.vehicles"> {{vehicle.id}} </div>
                </div>
            </div>
        </p-fieldset>
    </div>
    <div class="buttons">
        <div class="message" *ngIf="failed">Stergerea locatiei selectate duce la deconectarea grafului</div>
        <div class="button-group">
            <p-button (click)="deleteSelectedLocation()" [disabled]="deleting">
                Sterge locatia selectata
            </p-button>
            <p-button (click)="addLocation()">
                Adauga o noua locatie
            </p-button>
        </div>
    </div>
</div>